* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}

body {
  font-family: monospace;
  background-color: #130F26;
  color: #eeeeee;
}


.sectiondrop{
  height: 100vh;
  width: 70vw;
  display: grid;
  align-items: center;
  justify-content: center;
}
.sectionlogin{
  width: 30vw;
}

.dropzone {
  height: 25rem;
  width: 35rem;
  background-color: #130F26;
  text-align: center;
  border-radius: 5px;
  color: #eeeeee;
  box-shadow: 0px 0px 39px 20px rgba(86,155,81,0.84);
  display: flex;
  align-items: center;
  justify-content: center;
}
.textdrop{
  font-weight: 500;
  font-size: 1.5rem;
}

.buttondrop{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 20px;
  color: #eeeeee;
  background: #569B51;
  border-radius: 5px;
  border: none;
  font-family: monospace;
}

.accept {
  background-color: #569B51 !important;
}

.reject {
  border-color: #d83b01 !important;
}
.titlelogin{
  font-size: 2.5em;
  padding-bottom: 0.5em;
}
.plogin{
  font-size: 1em;
  padding-bottom: 1em;
}

.buttongoogle{
  font-family: monospace;
  color: #eeeeee;
  background-color: #130F26;
  border: #eeeeee solid 1px;
  padding: 10px;
  border-radius: 5px;
  width: 20rem;
}
@media (max-width: 900px){
  .sectiondrop{
    width: 100vw;
    height: 70vh;
  }
  .sectionlogin{
    width: 100vw;
    margin-left: 3em;
  }
  .dropzone{
    height: 20rem;
    width: 15rem;
  }
  .buttongoogle{
    width: 10rem;
  }
}
