* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}

body {
  font-family: monospace;
  background-color: #130F26;
  color: #eeeeee;
}

.sectiondrop{
  height: 100vh;
  width: 70vw;
  display: grid;
  align-items: center;
  justify-content: center;
}
.sectionlogin{
  width: 30vw;
}

.dropzone {
  height: 25rem;
  width: 35rem;
  background-color: #130F26;
  position: relative;
  border-radius: 5px;
  color: #eeeeee;
  box-shadow: 0px 0px 39px 20px rgba(86,155,81,0.84);
  margin-top: 4em;
  text-align: center;
}
.textdrop{
  font-weight: 500;
  font-size: 1.5rem;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}
.archivodrop{
  font-size: 1.2rem;
  color: #569B51;
  padding: 0.5rem;
  left: 50%;
  position: absolute;
  top: 80%;
  transform: translate(-50%, -50%);
}

.buttondrop{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 20px;
  color: #eeeeee;
  background-color: #569B51;
  border-radius: 5px;
  border: none;
  font-family: monospace;
}
.buttondrop:hover{
  background-color: #396736;
}

.accept {
  background-color: #569B51 !important;
}

.reject {
  border-color: #d83b01 !important;
}
.titlelogin{
  font-size: 2.5em;
  padding-bottom: 0.5em;
}
.plogin{
  font-size: 1.1em;
  padding-bottom: 3em;
  width: 20rem;
}
.barra{
  height: 2px;
  background-color: #39424E;
  width: 20rem;
  margin-bottom: 3em;
}
.logo{
  vertical-align: middle;
  padding-right: 2em;
}

.buttongoogle{
  font-family: monospace;
  color: #eeeeee;
  background-color: #130F26;
  border: #eeeeee solid 1px;
  padding: 10px;
  border-radius: 5px;
  width: 20rem;
}
.buttongoogle:hover{
  background-color: #232730;
}
@media (max-width: 700px){
  .sectiondrop{
    width: 100vw;
    height: 70vh;
  }
  .sectionlogin{
    width: 100vw;
    margin-left: 3em;
  }
  .dropzone{
    height: 20rem;
    width: 15rem;
  }
  .buttongoogle{
    width: 10rem;
  }
}
